<div class="ui masthead vertical segment">
  <div class="ui container">
    <div class="introduction">

      <h1 class="ui header">
        产品(3)
        <div class="sub header">
          &nbsp;
        </div>
      </h1>

      <div class="ui download primary button">
        创建
      </div>

      <div class="ui hidden divider"></div>


    </div>
    <div class="advertisement">

    </div>
    
  </div>
</div>

<div class="ops"></div>
        <div class="main ui container">
          <table class="ui celled table">
            <thead>
              <tr>
              <th></th>
              <th>名称</th>
              <th>类型</th>
              <th>硬件版本</th>
              <th>软件版本</th>
              <th>在线(在线率)</th>
             
              <th>创建时间</th>
              <th>操作</th>
            </tr></thead>
            <tbody>
              <tr>
                <td class="collapsing">
                  <div class="ui fitted slider checkbox">
                    <input type="checkbox"> <label></label>
                  </div>
                </td>
                <td data-label="Name">温度计</td>
                <td data-label="Age">温度</td>
                <td data-label="Job">v0.0.1</td>
                <td data-label="Job">v0.0.1</td>
                <td data-label="Job">90/100(90%)</td>
                <td data-label="Job">2020/11/26 18:29:22</td>
                <td data-label="Job"> 
                  <a href="">发布</a> | 
                  <a href="">设备</a> | 
                  <a href="">更多</a>
                </td>
              </tr>
               <tr>
                <td class="collapsing">
                  <div class="ui fitted slider checkbox">
                    <input type="checkbox"> <label></label>
                  </div>
                </td>
                <td data-label="Name">温度计</td>
                <td data-label="Age">温度</td>
                <td data-label="Job">v0.0.1</td>
                <td data-label="Job">v0.0.1</td>
                <td data-label="Job">90/100(90%)</td>
                <td data-label="Job">2020/11/26 18:29:22</td>
                <td data-label="Job"> 
                  <a href="">发布</a> | 
                  <a href="">设备</a> | 
                  <a href="">更多</a>
                </td>
              </tr>
               <tr>
                <td class="collapsing">
                  <div class="ui fitted slider checkbox">
                    <input type="checkbox"> <label></label>
                  </div>
                </td>
                <td data-label="Name">温度计</td>
                <td data-label="Age">温度</td>
                <td data-label="Job">v0.0.1</td>
                <td data-label="Job">v0.0.1</td>
                <td data-label="Job">90/100(90%)</td>
                <td data-label="Job">2020/11/26 18:29:22</td>
                <td data-label="Job"> 
                  <a href="">发布</a> | 
                  <a href="">设备</a> | 
                  <a href="">更多</a>
                </td>
              </tr>
               <tr>
                <td class="collapsing">
                  <div class="ui fitted slider checkbox">
                    <input type="checkbox"> <label></label>
                  </div>
                </td>
                <td data-label="Name">温度计</td>
                <td data-label="Age">温度</td>
                <td data-label="Job">v0.0.1</td>
                <td data-label="Job">v0.0.1</td>
                <td data-label="Job">90/100(90%)</td>
                <td data-label="Job">2020/11/26 18:29:22</td>
                <td data-label="Job"> 
                  <a href="">发布</a> | 
                  <a href="">设备</a> | 
                  <a href="">更多</a>
                </td>
              </tr>
               <tr>
                <td class="collapsing">
                  <div class="ui fitted slider checkbox">
                    <input type="checkbox"> <label></label>
                  </div>
                </td>
                <td data-label="Name">温度计</td>
                <td data-label="Age">温度</td>
                <td data-label="Job">v0.0.1</td>
                <td data-label="Job">v0.0.1</td>
                <td data-label="Job">90/100(90%)</td>
                <td data-label="Job">2020/11/26 18:29:22</td>
                <td data-label="Job"> 
                  <a href="">发布</a> | 
                  <a href="">设备</a> | 
                  <a href="">更多</a>
                </td>
              </tr>
               <tr>
                <td class="collapsing">
                  <div class="ui fitted slider checkbox">
                    <input type="checkbox"> <label></label>
                  </div>
                </td>
                <td data-label="Name">温度计</td>
                <td data-label="Age">温度</td>
                <td data-label="Job">v0.0.1</td>
                <td data-label="Job">v0.0.1</td>
                <td data-label="Job">90/100(90%)</td>
                <td data-label="Job">2020/11/26 18:29:22</td>
                <td data-label="Job"> 
                  <a href="">发布</a> | 
                  <a href="">设备</a> | 
                  <a href="">更多</a>
                </td>
              </tr>
               <tr>
                <td class="collapsing">
                  <div class="ui fitted slider checkbox">
                    <input type="checkbox"> <label></label>
                  </div>
                </td>
                <td data-label="Name">温度计</td>
                <td data-label="Age">温度</td>
                <td data-label="Job">v0.0.1</td>
                <td data-label="Job">v0.0.1</td>
                <td data-label="Job">90/100(90%)</td>
                <td data-label="Job">2020/11/26 18:29:22</td>
                <td data-label="Job"> 
                  <a href="">发布</a> | 
                  <a href="">设备</a> | 
                  <a href="">更多</a>
                </td>
              </tr>
               <tr>
                <td class="collapsing">
                  <div class="ui fitted slider checkbox">
                    <input type="checkbox"> <label></label>
                  </div>
                </td>
                <td data-label="Name">温度计</td>
                <td data-label="Age">温度</td>
                <td data-label="Job">v0.0.1</td>
                <td data-label="Job">v0.0.1</td>
                <td data-label="Job">90/100(90%)</td>
                <td data-label="Job">2020/11/26 18:29:22</td>
                <td data-label="Job"> 
                  <a href="">发布</a> | 
                  <a href="">设备</a> | 
                  <a href="">更多</a>
                </td>
              </tr>
               <tr>
                <td class="collapsing">
                  <div class="ui fitted slider checkbox">
                    <input type="checkbox"> <label></label>
                  </div>
                </td>
                <td data-label="Name">温度计</td>
                <td data-label="Age">温度</td>
                <td data-label="Job">v0.0.1</td>
                <td data-label="Job">v0.0.1</td>
                <td data-label="Job">90/100(90%)</td>
                <td data-label="Job">2020/11/26 18:29:22</td>
                <td data-label="Job"> 
                  <a href="">发布</a> | 
                  <a href="">设备</a> | 
                  <a href="">更多</a>
                </td>
              </tr>
               <tr>
                <td class="collapsing">
                  <div class="ui fitted slider checkbox">
                    <input type="checkbox"> <label></label>
                  </div>
                </td>
                <td data-label="Name">温度计</td>
                <td data-label="Age">温度</td>
                <td data-label="Job">v0.0.1</td>
                <td data-label="Job">v0.0.1</td>
                <td data-label="Job">90/100(90%)</td>
                <td data-label="Job">2020/11/26 18:29:22</td>
                <td data-label="Job"> 
                  <a href="">发布</a> | 
                  <a href="">设备</a> | 
                  <a href="">更多</a>
                </td>
              </tr>
               <tr>
                <td class="collapsing">
                  <div class="ui fitted slider checkbox">
                    <input type="checkbox"> <label></label>
                  </div>
                </td>
                <td data-label="Name">温度计</td>
                <td data-label="Age">温度</td>
                <td data-label="Job">v0.0.1</td>
                <td data-label="Job">v0.0.1</td>
                <td data-label="Job">90/100(90%)</td>
                <td data-label="Job">2020/11/26 18:29:22</td>
                <td data-label="Job"> 
                  <a href="">发布</a> | 
                  <a href="">设备</a> | 
                  <a href="">更多</a>
                </td>
              </tr>
            </tbody>

            <tfoot class="full-width">
              <tr>
                <th></th>
                <th colspan="7">
                  <div class="ui right floated pagination menu">
                    <a class="icon item">
                      <i class="left chevron icon"></i>
                    </a>
                    <a class="item">1</a>
                    <a class="item">2</a>
                    <a class="item">3</a>
                    <a class="item">4</a>
                    <a class="icon item">
                      <i class="right chevron icon"></i>
                    </a>
                  </div>
                </th>
              </tr>
            </tfoot>
          </table>
        </div>

<style>
   #iot .masthead.segment {
    position: relative;
    z-index: 3;
    margin: 0em;
    min-height: 185px;
    padding: 3em 0em;
    background-color: #FFFFFF;
    border-bottom: 1px solid #DDDDDD;
    box-shadow: none;
  }

  .advertisement {
    width: 400px;
  }

   #iot .masthead > .container {
    margin-right: 387px !important;
  }

  #iot .masthead > .container,  .main.container,  .fixed.menu > .container {
    margin-left: 3em !important;
    margin-right: 3em !important;
    width: auto !important;
    max-width: 960px !important;
  }

  #iot .fixed.menu > .container, #iot .main.container, #iot .masthead > .container, #iot .footer > .container {
    position: relative;
  }

  .ops {
        position: relative;
    z-index: 3;
    margin-top: -1px;
    min-height: 40px;
    border-top: solid 1px #dddddd;
    border-bottom: solid 1px #dddddd;
  }

</style>