<div class="toc">
        <div class="ui vertical inverted menu">
          <div class="item">
            <a href="/"><b>IotLite</b></a>
          </div>
          <div class="item">
            <a href="/"><b>趋势动态</b></a>
          </div>
          <div class="item">

            <a href="/product_center" class="header"><b>产品中心</b></a>
            <div class="menu">
                <a class="item" href="/product_develop">
                  开发产品
                </a>
                <a class="item" href="/device_develop">
                  测试设备
                </a>

                <a class="item" href="/product">
                  线上产品
                </a>
                <a class="item" href="/devicewarehouse">
                  设备仓库
                </a>
            </div>
          </div>
          <div class="item">
            <div class="header">设备</div>
            <div class="menu">
                <a class="item" href="/device">
                  设备中心
                </a>
            </div>
          </div>
          <div class="item">
            <div class="header">网关</div>
            <div class="menu">
                <a class="item" href="/gateway">
                  网关中心
                </a>
            </div>
          </div>
          <div class="item">
            <div class="header">用户中心</div>
            <div class="menu">
                <a class="item" href="/organization">
                  组织
                </a>
                <a class="item" href="/user">
                  用户
                </a>
            </div>
          </div>

           <div class="item">
            <div class="header">授权</div>
            <div class="menu">
                <a class="item" href="/organization">
                  登录
                </a>
                <a class="item" href="/user">
                  个人信息
                </a>
            </div>
          </div>

           <div class="item">
            <div class="header">系统设置</div>
            <div class="menu">
                <a class="item" href="/organization">
                  日志
                </a>
            </div>
          </div>
        </div>

</div>


      <style>
        .toc {
            position: fixed;
            z-index: 1;
            background-color: #1b1c1d;
            width: 250px;
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 auto;
            -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        }

        .toc .ui.menu {
              height: 100vh;
              border-radius: 0;
              border-width: 0 1px 0 0;
              box-shadow: none;
              margin: 0;
              width: inherit;
              overflow: hidden;
              will-change: transform;
              max-height: 100vh;
              overflow: auto;
              -webkit-overflow-scrolling: touch;
        }

        #iot .main.container {
            margin-right: 387px !important;
        }
        #iot .masthead > .container, #iot .main.container, #iot .fixed.menu > .container {
            margin-left: 3em !important;
            margin-right: 3em !important;
            width: auto !important;
            max-width: 960px !important;
        }
        #iot .main.container {
            padding: 2em 0em 7em;
        }
        #iot .fixed.menu > .container, #iot .main.container, #iot .masthead > .container, #iot .footer > .container {
            position: relative;
        }
        
      </style>