<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dj.iotlite.mapper.DeviceMapper">

    <select id="getGroupDeviceList" resultType="com.dj.iotlite.entity.device.Device">
        select * from device where id in (  select device_id from device_group_link where group_id= #{deviceQueryForm.groupId})
    </select>



</mapper>